.sign-up{
    /* overflow: auto; */
    height: 100%;
    overflow: auto;
}

form{
    display: grid;
    justify-items: center;
    row-gap: 15px;
}

.input-row{
    position: relative;
    display: grid;
    row-gap: 12px;
    justify-items: center;
}

textarea.invalid,
input[type="password"].invalid,
input[type="text"].invalid,
input[type="email"].invalid{
    border-color:#e83333;
}


textarea,
input[type="text"],
input[type="password"],
input[type="email"]{
    /* width: 240px; */
    font-size: 1.2rem;
    height: 24px;
    padding: 8px;
    border:#a3a3a3e5 solid 3px;
    box-shadow: black 0px 0px 2px -1px;
    border-radius: 8px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


textarea{
    resize: none;
    width: 60%;
    height: 70%;
    font-size: 1.8rem;
    padding: 20px;

}

textarea:focus,
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus{
    outline:none;
    border-color: #22d3ee;
}



#userPhoto{
    display: none;
}

#prevImg{
    width: 48px;
    height: 48px;
}

.input-row:last-child{
    margin-bottom: 20px;
}

.text{
    width: 40%;
}


input.keys:disabled {
    background-color: rgb(200, 200, 200);
    /* text-overflow: ellipsis; */
}